@model PlanViewModel
<br>
<br>


<form action="/Admin/home/AddPlans" class="form-group">



    <div class="row">

        <div class="form-group col-3">
            <label for="inputEmail4">استان مبدا</label>
            <input type="text" id="x" style="display: none;">
            <select id="ostan" class="form-control" style="width: 100%;" onchange="Func1(this.value)" required>
                <option value="">انتخاب استان</option>
                <option
                    value=",اﺳﻜﻮ,اﻳﻠﺨﭽﻲ,ﺳﻬﻨﺪ,اﻫﺮ,هوراند,آذرﺷﻬﺮ,گوگان,ممقان,بستان آباد,ﺗﻴﻜﻤﻪ داش,بناب,ﺑﺎﺳﻤﻨﺞ,ﺗﺒﺮﻳﺰ,خسروشهر,سردرود,ﺟﻠﻔﺎ,ﺳﻴﻪ رود,هادیشهر,قره آغاج,خمارلو,دوزدوزان,سراب,شربیان,مهربان,تسوج,ﺧﺎﻣﻨﻪ,ﺳﻴﺲ,ﺷﺒﺴﺘﺮ,ﺷﺮﻓﺨﺎﻧﻪ,شندآباد,صوفیان,کوزه کنان,وایقان,ﻋﺠﺐ ﺷﻴﺮ,آﺑﺶ اﺣﻤﺪ,ﻛﻠﻴﺒﺮ,خداجو,مراغه,بناب جدید,زنوز,کشکسرای,ﻣﺮﻧﺪ,ﻳﺎﻣﭽﻲ,لیلان,ملکان,آﻗﻜﻨﺪ,ترک,ترکمن چای,ﻣﻴﺎﻧﻪ,ﺑﺨﺸﺎﻳﺶ,خواجه,زرنق,کلوانق,ﻫﺮﻳﺲ,نظرکهریزی,هشترود,خاروانا,ورزقان">
                    آذربایجان شرقی</option>
                <option
                    value=",اروﻣﻴﻪ,سرو,سیلوانه,ﻗﻮﺷﭽﻲ,ﻧﻮﺷﻴﻦ,اﺷﻨﻮﻳﻪ,نالوس,بوکان,ﺳﻴﻤﻴﻨﻪ,ﭘﻠﺪﺷﺖ,نازک علیا,پیرانشهر,گردکشانه,تکاب,آواﺟﻴﻖ,ﺳﻴﻪ ﭼﺸﻤﻪ,قره ضیاء الدین,ایواوغلی,خوی,دیزج دیز,زرآباد,فیرورق,قطور,رﺑﻂ,سردشت,میرآباد,تازه شهر,سلماس,ﺷﺎﻫﻴﻦ دژ ,کشاورز,محمود آباد,شوط,ﻣﺮﮔﻨﻠﺮ,بازرگان,ﻣﺎﻛﻮ,خلفیان,مهاباد,باروق,چهاربرج,میاندوآب,محمدیار,نقده">
                    آذربایجان غربی</option>
                <option
                    value=",اردﺑﻴﻞ,ﻫﻴﺮ,ﺑﻴﻠﻪ ﺳﻮار,جعفرآباد,اصلاندوز,پارس آباد,تازه کند,خلخال,کلور,ﻫﺸﺘﺠﻴﻦ,ﺳﺮﻋﻴﻦ,گیوی,تازه کندانگوت,ﮔﺮﻣﻲ,رﺿﻲ,نجف آباد,لاهرود,مرادلو,ﻣﺸﮕﻴﻦ ﺷﻬﺮ,آﺑﻲ ﺑﻴﮕﻠﻮ,عنبران,ﻧﻤﻴﻦ,کوراییم,ﻧﻴﺮ">
                    اردبیل</option>
                <option
                    value=",اردستان ,زواره ,مهاباد,اژﻳﻪ,اصفهان ,بهارستان,تودشک,حسن آباد,خوراسگان,سگزی,ﻛﻮﻫﭙﺎﻳﻪ,محمدآباد,نصرآباد,نیک آباد,ﻫﺮﻧﺪ,ورزﻧﻪ,ابوزیدآباد,آران وﺑﻴﺪﮔﻞ,ﺳﻔﻴﺪﺷﻬﺮ,نوش آباد,حبیب آباد,خورزوق,دستگرد,دولت آباد,شاپور آباد,ﻛﻤﺸﭽﻪ,تیران,رضوانشهر,عسگران,چادگان ,رزوه,ﺧﻤﻴﻨﻲ ﺷﻬﺮ,درﭼﻪ,ﻛﻮﺷﻚ,خوانسار,جندق,خور,ﻓﺮﺧﻲ,دهاقان,ﮔﻠﺸﻦ,ﺣﻨﺎ,سمیرم,ﻛﻤﻪ,وﻧﻚ,ﺷﺎﻫﻴﻦ ﺷﻬﺮ,گرگاب,گزبرخوار,لای بید,ﻣﻴﻤﻪ,وزوان ,ﺷﻬﺮﺿﺎ,ﻣﻨﻈﺮﻳﻪ,اﻓﻮس ,ﺑﻮﻳﻴﻦ وﻣﻴﺎﻧﺪﺷﺖ,د اران ,داﻣﻨﻪ,برف انبار,فریدونشهر,اﺑﺮﻳﺸﻢ,اﻳﻤﺎﻧﺸﻬﺮ,بهاران شهر,پیربکاران,فلاورجان,قهدریجان,کلیشادوسودرجان,بزرک,جوشقان و کامو,ﻗﻤﺼﺮ,کاشان,مشکات,ﻧﻴﺎﺳﺮ,گلپایگان,ﮔﻠﺸﻬﺮ,ﮔﻮﮔﺪ,باغ بهادران,ﭼﺮﻣﻬﻴﻦ,چمگردان,زاینده رود,زرﻳﻦ ﺷﻬﺮ,سده لنجان,فولادشهر,ورنامخواست,دﻳﺰﻳﭽﻪ,زﻳﺒﺎﺷﻬﺮ,ﻃﺎﻟﺨﻮﻧﭽﻪ,ﻛﺮﻛﻮﻧﺪ,مبارکه,ﻣﺠﻠﺴﻲ,انارک,بافران,نایین,جوزدان,دﻫﻖ,ﻋﻠﻮﻳﺠﻪ,ﻛﻬﺮﻳﺰﺳﻨﮓ,ﮔﻠﺪﺷﺖ,نجف آباد,بادرود,خالدآباد,ﻧﻄﻨﺰ">
                    اصفهان</option>
                <option
                    value=",چهارباغ,شهر جدید هشتگرود,کوهسار,گلسار,هشتگرد,طالقان,اشتهارد,آسارا,کرج,کمال شهر,گرمدره,ماهدشت,ﻣﺤﻤﺪﺷﻬﺮ,ﻣﺸﻜﻴﻦ دﺷﺖ,تنکمان,نظرآباد ,فردیس">
                    البرز</option>
                <option
                    value=",ایلام,چوار,ایوان,زرنه,آبدانان,سراب باغ,مورموری,بدره,دره شهر,ﭘﻬﻠﻪ,دهلران,موسیان,میمه,آسمان آباد,توحید,سرابله,لومار,ارکواز,دﻟﮕﺸﺎ,صالح آباد,مهران">
                    ایلام</option>
                <option
                    value=",بوشهر,چغادک,خارک,اهرم,دلوار,انارستان,ﺟﻢ,رﻳﺰ,آب ﭘﺨﺶ,برازجان,ﺗﻨﮓ ارم ,داﻟﻜﻲ,سعدآباد,شبانکاره,ﻛﻠﻤﻪ,وﺣﺪﺗﻴﻪ,خورموج,ﺷﻨﺒﻪ,کاکی,آبدانان,بردخون,بردستان,بندردیلم,امام حسن,بندر دیلم,بندر کنگان,بنک,سیراف,ﻋﺴﻠﻮﻳﻪ,ﻧﺨﻞ ﺗﻘﻲ,بندرریگ,بندر گناوه">
                    بوشهر</option>
                <option
                    value=",اﺳﻼﻣﺸﻬﺮ,چهاردانگه,صالح آباد,گلستان,ﻧﺴﻴﻢ ﺷﻬﺮ,ﭘﺎﻛﺪﺷﺖ,شریف آباد,فرون آباد,پیشوا,بومهن,پردیس,تهران,آبسرد,آﺑﻌﻠﻲ,دماوند,رودهن,گیلان,رباط کریم,نصیرشهر,ﺑﺎﻗﺮﺷﻬﺮ,حسن آباد,کهریزک,فشم,لواسان,اﻧﺪﻳﺸﻪ,باغستان,ﺷﺎﻫﺪﺷﻬﺮ,شهریار,ﺻﺒﺎﺷﻬﺮ,فردوسیه,وﺣﻴﺪﻳﻪ,ارﺟﻤﻨﺪ,فیروزکوه,قدس,صفادشت,ملارد,جوادآباد,ﻗﺮﭼﻚ,وراﻣﻴﻦ,ﺷﻬﺮﺟﺪﻳﺪﭘﺮﻧﺪ,ري,ﺷﻤﺸﻚ">
                    تهران</option>
                <option
                    value=",اردل,بروجن,بلداجی,سفیددشت,فرادنبه,گندمان,نقنه,بن,سامان,سودجان,سورشجان,شهرکرد,طاقانک,فرخ شهر,کیان,نافچ,هفشجان,وردنجان,باباحیدر,پردنجان,جونقان,فارسان,چلگرد,دستنا,شلمزار,گهرو,ناغان,آلونی,لردگان,مال خلیفه,منج,دشتک,سرخون,کاج,گوجان,چلیچه,صمصامی,بازفت">
                    چهارمحال و بختیاری</option>
                <option
                    value=",ارسک,بشرویه,بیرجند,خوسف,محمدشهر,اسدیه,طبس مسینا,قهستان,گزیک,آیسک,سرایان,سه قلعه,سربیشه,مود,اسلامیه,فردوس,اسفدن,آرین شهر,حاجی آباد,خضری دشت بیاض,زهان,ﻗﺎﻳﻦ,نیمبلوک,شوسف,نهبندان,دیهوک,طبس,عشق آباد">
                    خراسان جنوبی</option>
                <option
                    value=",باخرز,بجستان,یونسی,انابد,بردسکن,شهرآباد,شاندیز,طرقبه,تایباد,کاریز,مشهدریزه,فیروزه,همت آباد,احمد آباد صولت,تربت جام,صالح آباد,نصرآباد,نیل شهر,بایک,تربت حیدریه,رباط سنگ,کدکن,جغتای,نقاب,چناران,گلمکان,خلیل آباد,کندر,خواف,سلامی,سنگان,قاسم آباد,نشتیفان,سلطان آباد,ﭼﺎﭘﺸﻠﻮ,درﮔﺰ,لطف آباد,نوخندان,ﺟﻨﮕﻞ,رشتخوار,دولت آباد,داورزن,روداب,سبزوار,ششتمد,سرخس,مزدآوند,سفیدسنگ,فرهادگرد,فریمان,قلندرآباد,باجگیران,قوچان,ریواش,کاشمر,شهرزو,کلات,بیدخت,کاخک,گناباد,رضویه,مشهد,ﻣﺸﻬﺪ ﺛﺎﻣﻦ,ملک آباد,شادمهر,فیض آباد,بار,چنگه,خرو,درود,عشق آباد,قدمگاه,نیشابور">
                    خراسان رضوی</option>
                <option
                    value=",اسفراین,صفی آباد,بجنورد,حصار گرمخوان,راز ,جاجرم,سنخواست,شوقان,شوقان,ﻟﻮﺟﻠﻲ,ﺗﻴﺘﻜﺎﻧﻠﻮ,فاروج,ایور,درق,ﮔﺮﻣﻪ,آﺷﺨﺎﻧﻪ,ﭘﻴﺶ ﻗﻠﻌﻪ,ﻗﺎﺿﻲ">
                    خراسان شمالی</option>
                <option
                    value=",اﻣﻴﺪﻳﻪ,جایزان,ﻗﻠﻌﻪ ﺧﻮاﺟﻪ,اندیمشک,ﺣﺴﻴﻨﻴﻪ,اهواز,ﺣﻤﻴﺪﻳﻪ,ایذه,دهدز,اروندکنار,آبادان,چویبده,باغ ملک,صیدون,ﻗﻠﻌﻪ ﺗﻞ,میداود,شیبان,ملاثانی,وﻳﺲ,بندر امام خمینی,بندر ماهشهر,چمران,آغاجاری,بهبهان,سردشت,خرمشهر,مینوشهر,ﭼﻐﺎﻣﻴﺶ,حمزه,دزآب,دزفول,سالند,صفی آباد,میانرود,بستان,سوسنگرد,رامشیر,مشراگه,رامهرمز,دارﺧﻮﻳﻦ,شادگان,الوان,ﺣﺮ,شاوور,شوش,ﺻﺎﻟﺢ ﻣﺸﻄﺖ,شرافت,ﺷﻮﺷﺘﺮ,گوریه,ﺗﺮﻛﺎﻟﻜﻲ,ﺟﻨﺖ ﻣﻜﺎن,ﺳﻤﺎﻟﻪ,ﺻﺎﻟﺢ ﺷﻬﺮ,ﮔﺘﻮﻧﺪ,ﻻﻟﻲ,مسجد سلیمان,ﻫﻔﺘﮕﻞ,زهره,هندیجان,رﻓﻴﻊ,هویزه">
                    خوزستان</option>
                <option
                    value=",ابهر,ﺳﻠﻄﺎﻧﻴﻪ,ﺻﺎﻳﻴﻦ ﻗﻠﻌﻪ,هیدج,حلب,زرین آباد,زرین رود,سجاس,سهرورد,قیدار,گرماب,خرمدره,ارﻣﻐﺎﻧﺨﺎﻧﻪ,زنجان,آب ﺑﺮ,چورزق,دندی,ماه نشان">
                    زنجان</option>
                <option
                    value=",اﻣﻴﺮﻳﻪ,دامغان,دیباج,ﺳﺮﺧﻪ,سمنان,بسطام,بیارجمند,شاهرود,کلاته خیج,ﻣﺠﻦ,ﻣﻴﺎﻣﻲ,اﻳﻮاﻧﻜﻲ,آرادان,گرمسار,درﺟﺰﻳﻦ,شهمیرزاد,مهدی شهر">
                    سمنان</option>
                <option
                    value=",ایرانشهر,بزمان,بمپور,محمدان,چابهار,نگور,خاش,نوک آباد,گلمورتی,بنجار,زابل,زاهدان,میرجاوه,نصرت آباد,زهک,جالق,سراوان,سیرکان,گشت,محمدی,پیشین,راسک,سرباز,سوران,هیدوچ,زرآباد,کنارک,زاﺑﻠﻲ,اﺳﭙﻜﻪ,ﺑﻨﺖ,فنوج,ﻗﺼﺮﻗﻨﺪ,ﻧﻴﻚ ﺷﻬﺮ,ادﻳﻤﻲ,ﻋﻠﻲ اﻛﺒﺮ,محمد آباد,دوﺳﺖ ﻣﺤﻤﺪ">
                    سیستان و بلوچستان</option>
                <option
                    value=",ارسنجان,استهبان,ایج,روﻧﻴﺰ,اﻗﻠﻴﺪ,حسن آباد,دژکده,سده,ایزدخواست,آباده,ﺑﻬﻤﻦ,سورمق,صغاد,بوانات,ﺣﺴﺎﻣﻲ,کره ای,سعادت شهر,باب انار,جهرم,خاوران,دوزه ,قطب آباد,خرامه,ﺻﻔﺎﺷﻬﺮ,قادرآباد,ﺧﻨﺞ,ﺟﻨﺖ ﺷﻬﺮ,داراب,دوﺑﺮﺟﻲ,فدامی,مصیری,حاجی آباد,دبیران,ﺷﻬﺮﭘﻴﺮ,اردکان,ﺑﻴﻀﺎ,ﻫﻤﺎﺷﻬﺮ,سروستان,کوهنجان,خاله زنیان,داریان,زرقان,شهرصدرا,شیراز,ﻟﭙﻮﻳﻲ,دهرم,فراشبند,ﻧﻮﺟﻴﻦ,زاﻫﺪﺷﻬﺮ,ششده,ﻓﺴﺎ,نوبندگان,فیروزآباد,ﻣﻴﻤﻨﺪ,افزر,امام شهر,قیر,کارزین,مبارک آباددیز,بالاده,ﺧﺸﺖ,ﻗﺎﻳﻤﻴﻪ,کازرون,کنار تخته,نودان,کوار,گراش,اوز,بنارویه,بیرم,جویم,خور,عمادده,ﻻر,ﻟﻄﻴﻔﻲ,اشکنان,اﻫﻞ,علامرودشت,لامرد,رامجرد,سیدان,کامفیروز,مرودشت,ﺧﻮﻣﻪ زار,نورآباد,اﺳﻴﺮ,ﮔﻠﻪ دار,ﻣﻬﺮ,وراوي,آباده طشک,قطرویه,مشکان,ﻧﻲ رﻳﺰ">
                    فارس</option>
                <option
                    value=",الوند,بیدستان,ﺷﺮﻳﻔﻴﻪ ,ﻣﺤﻤﺪﻳﻪ ,آﺑﻴﻚ ,ﺧﺎﻛﻌﻠﻲ,ارداق ,آبگرم,آوج ,بویین زهرا,دانسفهان,سگزآباد,شال,اسفرورین,تاکستان,ﺧﺮﻣﺪﺷﺖ,ضیاءآباد,ﻧﺮﺟﻪ,اﻗﺒﺎﻟﻴﻪ,رازمیان,سیردان,قزوین,ﻛﻮﻫﻴﻦ,محمودآبادنمونه,ﻣﻌﻠﻢ ﻛﻼﻳﻪ">
                    قزوین</option>
                <option value=",ﺟﻌﻔﺮﻳﻪ,دستجرد,سلفچگان,ﻗﻢ,قنوات,ﻛﻬﻚ">قم</option>
                <option
                    value=",آرمرده,ﺑﺎﻧﻪ,ﺑﻮﻳﻴﻦ ﺳﻔﻠﻲ,ﻛﺎﻧﻲ ﺳﻮر,بابارشانی,بیجار,ﻳﺎﺳﻮﻛﻨﺪ,بلبلان آباد,دهگلان,دیوان دره,زرﻳﻨﻪ,سروآباد,ﺳﻘﺰ,ﺻﺎﺣﺐ,سنندج,ﺷﻮﻳﺸﻪ,دزج ,دلبران,سریش آباد,قروه,کامیاران,ﻣﻮﭼﺶ,چناره,کانی دینار,مریوان">
                    کردستان</option>
                <option
                    value=",ارزوﻳﻴﻪ,اﻣﻴﻦ ﺷﻬﺮ,اﻧﺎر,ﺑﺎﻓﺖ,ﺑزنجان,بردسیر,گلزار,ﻻﻟﻪ زار,نگار,براوات,ﺑﻢ,جبالبارز,ﺟﻴﺮﻓﺖ,درب ﺑﻬﺸﺖ,راﺑﺮ,راور ,هجدک,بهرمان,رفسنجان,ﺻﻔﺎﻳﻴﻪ,ﻛﺸﻜﻮﻳﻴﻪ,ﻣﺲ ﺳﺮﭼﺸﻤﻪ,رودبار ,محمدآباد,خانوک,ریحان,زرﻧﺪ,یزدان شهر,پاریز,زیدآباد,سیرجان,ﻧﺠﻒ ﺷﻬﺮ,ﻫﻤﺎ ﺷﻬﺮ,جوزم,خاتون آباد,خورسند,دهج,ﺷﻬﺮﺑﺎﺑﻚ,دوساری,عنبرآباد,مردهک,فاریاب,فهرج,قلعه گنج,اختیارآباد,اندوهجرد,باغین,جوپار,چترود,راﻳﻦ,زنگی آباد,شهداد,کاظم آباد,کرمان,گلباف,ماهان,محی آباد,کهنوج,کوهبنان,ﻛﻴﺎﻧﺸﻬﺮ,منوجان,نودژ,ﻧﺮﻣﺎﺷﻴﺮ,نظام شهر">
                    کرمان</option>
                <option
                    value=",اسلام آباد غرب,ﺣﻤﻴﻞ,باینگان,پاوه,نودشه,نوسود,ازﮔﻠﻪ,تازه آباد,جوانرود,ﻛﺮﻧﺪ,گهوار,رواﻧﺴﺮ,ﺷﺎﻫﻮ,سرپل ذهاب,ﺳﻄﺮ,ﺳﻨﻘﺮ,ﺻﺤﻨﻪ,میان راهان,سومار,ﻗﺼﺮﺷﻴﺮﻳﻦ,رباط,کرمانشاه,کوزران,هلشی,کنگاور,ﺳﺮﻣﺴﺖ,گیلانغرب,بیستون,ﻫﺮﺳﻴﻦ">
                    کرمانشاه</option>
                <option
                    value=",ﺑﺎﺷﺖ,ﻟﻴﻜﻚ,گراب سلفی,مادوان,مارگون,یاسوج,چرام,پاتاوه,چیتاب,سی سخت,دهدشت,دیشموک,سوق,قلعه رییسی,لنده,دوگنبدان">
                    کهگیلویه و بویراحمد</option>
                <option
                    value=",آزادﺷﻬﺮ,ﻧﮕﻴﻦ ﺷﻬﺮ,نوده خاندوز,انبارآلوم,آق ﻗﻼ,بندرگز,نوکنده,بندرترکمن,خان ببین,دلند,رامیان,علی آباد,فاضل آباد,کردکوی,ﻛﻼﻟﻪ,ﮔﺎﻟﻴﻜﺶ ,ﺟﻠﻴﻦ,ﺳﺮﺧﻨﻜﻼﺗﻪ,گرگان,ﺳﻴﻤﻴﻦ ﺷﻬﺮ,ﮔﻤﻴﺶ ﺗﭙﻪ,اﻳﻨﭽﻪ ﺑﺮون,گنبدکاووس,مراوه ,مینودشت ">
                    گلستان</option>
                <option
                    value=",اﻣﻠﺶ,رانکوه,آستارا,لوندویل ,آﺳﺘﺎﻧﻪ اﺷﺮﻓﻴﻪ,ﻛﻴﺎﺷﻬﺮ,بندر انزلی,اﺳﺎﻟﻢ,ﺗﺎﻟﺶ,ﭼﻮﺑﺮ,ﺣﻮﻳﻖ,لیسار,خشکبیجار,خمام,رﺷﺖ,ﺳﻨﮕﺮ,کوچصفهان ,ﻟﺸﺖ ﻧﺸﺎ,لولمان ,پره سر,رضوانشهر,بره سر,ﺗﻮﺗﻜﺎﺑﻦ,جیرنده,رﺳﺘﻢ آباد,رودبار,لوشان,ﻣﻨﺠﻴﻞ,ﭼﺎﺑﻜﺴﺮ,رﺣﻴﻢ آﺑﺎد,رودﺳﺮ,کلاچای,واجرگاه,دیلمان,ﺳﻴﺎﻫﻜﻞ,احمدسرگوراب,ﺷﻔﺖ,ﺻﻮﻣﻌﻪ ﺳﺮا,گراب زرمیخ,ﻣﺮﺟﻘﻞ,ﻓﻮﻣﻦ,ﻣﺎﺳﻮﻟﻪ,رودﺑﻨﻪ,لاهیجان,اطاقور,چاف و چمخاله,شلمان,ﻛﻮﻣﻠﻪ,لنگرود,بازارجمعه ,ماسال">
                    گیلان</option>
                <option
                    value=",ازﻧﺎ,مومن آباد,الیگودرز,شول آباد,اشترینان,بروجرد ,ﭘﻠﺪﺧﺘﺮ,معمولان ,چغلوندی,خرم آباد,زاﻏﻪ,سپیددشت,نور آباد,ﻫﻔﺖ ﭼﺸﻤﻪ,سراب دوره,ویسیان,چالان چولان,دورود,اﻟﺸﺘﺮ,فیروزآباد,ﭼﻘﺎﺑﻞ,درب ﮔﻨﺒﺪ,کونانی,ﻛﻮﻫﺪﺷﺖ,گراب">
                    لرستان</option>
                <option
                    value=",آﻣﻞ,داﺑﻮدﺷﺖ,رﻳﻨﻪ,ﮔﺰﻧﻚ,اﻣﻴﺮﻛﻼ,ﺑﺎﺑﻞ,خوش رودپی,زرﮔﺮﻣﺤﻠﻪ,گتاب,گلوگاه,مرزیکلا,ﺑﺎﺑﻠﺴﺮ,ﺑﻬﻨﻤﻴﺮ,ﻛﻠﻪ ﺑﺴﺖ">
                    مازندران</option>
            </select>
        </div>
        <div class="form-group col-3">
            <label>شهرستان مبدا</label>
            @* <input type="text" asp-for="City" style="display: none;"> *@
            <select asp-for="Mabda" class="form-control" style="width: 100%;"></select>
        </div>

        <div class="form-group col-3">
            <label for="inputEmail4">استان مقصد</label>
            <input type="text" id="xmaghsad" style="display: none;">
            <select id="ostanmaghsad" class="form-control" style="width: 100%;" onchange="Funcmaghsad(this.value)"
                required>
                <option value="">انتخاب استان</option>
                <option
                    value=",اﺳﻜﻮ,اﻳﻠﺨﭽﻲ,ﺳﻬﻨﺪ,اﻫﺮ,هوراند,آذرﺷﻬﺮ,گوگان,ممقان,بستان آباد,ﺗﻴﻜﻤﻪ داش,بناب,ﺑﺎﺳﻤﻨﺞ,ﺗﺒﺮﻳﺰ,خسروشهر,سردرود,ﺟﻠﻔﺎ,ﺳﻴﻪ رود,هادیشهر,قره آغاج,خمارلو,دوزدوزان,سراب,شربیان,مهربان,تسوج,ﺧﺎﻣﻨﻪ,ﺳﻴﺲ,ﺷﺒﺴﺘﺮ,ﺷﺮﻓﺨﺎﻧﻪ,شندآباد,صوفیان,کوزه کنان,وایقان,ﻋﺠﺐ ﺷﻴﺮ,آﺑﺶ اﺣﻤﺪ,ﻛﻠﻴﺒﺮ,خداجو,مراغه,بناب جدید,زنوز,کشکسرای,ﻣﺮﻧﺪ,ﻳﺎﻣﭽﻲ,لیلان,ملکان,آﻗﻜﻨﺪ,ترک,ترکمن چای,ﻣﻴﺎﻧﻪ,ﺑﺨﺸﺎﻳﺶ,خواجه,زرنق,کلوانق,ﻫﺮﻳﺲ,نظرکهریزی,هشترود,خاروانا,ورزقان">
                    آذربایجان شرقی</option>
                <option
                    value=",اروﻣﻴﻪ,سرو,سیلوانه,ﻗﻮﺷﭽﻲ,ﻧﻮﺷﻴﻦ,اﺷﻨﻮﻳﻪ,نالوس,بوکان,ﺳﻴﻤﻴﻨﻪ,ﭘﻠﺪﺷﺖ,نازک علیا,پیرانشهر,گردکشانه,تکاب,آواﺟﻴﻖ,ﺳﻴﻪ ﭼﺸﻤﻪ,قره ضیاء الدین,ایواوغلی,خوی,دیزج دیز,زرآباد,فیرورق,قطور,رﺑﻂ,سردشت,میرآباد,تازه شهر,سلماس,ﺷﺎﻫﻴﻦ دژ ,کشاورز,محمود آباد,شوط,ﻣﺮﮔﻨﻠﺮ,بازرگان,ﻣﺎﻛﻮ,خلفیان,مهاباد,باروق,چهاربرج,میاندوآب,محمدیار,نقده">
                    آذربایجان غربی</option>
                <option
                    value=",اردﺑﻴﻞ,ﻫﻴﺮ,ﺑﻴﻠﻪ ﺳﻮار,جعفرآباد,اصلاندوز,پارس آباد,تازه کند,خلخال,کلور,ﻫﺸﺘﺠﻴﻦ,ﺳﺮﻋﻴﻦ,گیوی,تازه کندانگوت,ﮔﺮﻣﻲ,رﺿﻲ,نجف آباد,لاهرود,مرادلو,ﻣﺸﮕﻴﻦ ﺷﻬﺮ,آﺑﻲ ﺑﻴﮕﻠﻮ,عنبران,ﻧﻤﻴﻦ,کوراییم,ﻧﻴﺮ">
                    اردبیل</option>
                <option
                    value=",اردستان ,زواره ,مهاباد,اژﻳﻪ,اصفهان ,بهارستان,تودشک,حسن آباد,خوراسگان,سگزی,ﻛﻮﻫﭙﺎﻳﻪ,محمدآباد,نصرآباد,نیک آباد,ﻫﺮﻧﺪ,ورزﻧﻪ,ابوزیدآباد,آران وﺑﻴﺪﮔﻞ,ﺳﻔﻴﺪﺷﻬﺮ,نوش آباد,حبیب آباد,خورزوق,دستگرد,دولت آباد,شاپور آباد,ﻛﻤﺸﭽﻪ,تیران,رضوانشهر,عسگران,چادگان ,رزوه,ﺧﻤﻴﻨﻲ ﺷﻬﺮ,درﭼﻪ,ﻛﻮﺷﻚ,خوانسار,جندق,خور,ﻓﺮﺧﻲ,دهاقان,ﮔﻠﺸﻦ,ﺣﻨﺎ,سمیرم,ﻛﻤﻪ,وﻧﻚ,ﺷﺎﻫﻴﻦ ﺷﻬﺮ,گرگاب,گزبرخوار,لای بید,ﻣﻴﻤﻪ,وزوان ,ﺷﻬﺮﺿﺎ,ﻣﻨﻈﺮﻳﻪ,اﻓﻮس ,ﺑﻮﻳﻴﻦ وﻣﻴﺎﻧﺪﺷﺖ,د اران ,داﻣﻨﻪ,برف انبار,فریدونشهر,اﺑﺮﻳﺸﻢ,اﻳﻤﺎﻧﺸﻬﺮ,بهاران شهر,پیربکاران,فلاورجان,قهدریجان,کلیشادوسودرجان,بزرک,جوشقان و کامو,ﻗﻤﺼﺮ,کاشان,مشکات,ﻧﻴﺎﺳﺮ,گلپایگان,ﮔﻠﺸﻬﺮ,ﮔﻮﮔﺪ,باغ بهادران,ﭼﺮﻣﻬﻴﻦ,چمگردان,زاینده رود,زرﻳﻦ ﺷﻬﺮ,سده لنجان,فولادشهر,ورنامخواست,دﻳﺰﻳﭽﻪ,زﻳﺒﺎﺷﻬﺮ,ﻃﺎﻟﺨﻮﻧﭽﻪ,ﻛﺮﻛﻮﻧﺪ,مبارکه,ﻣﺠﻠﺴﻲ,انارک,بافران,نایین,جوزدان,دﻫﻖ,ﻋﻠﻮﻳﺠﻪ,ﻛﻬﺮﻳﺰﺳﻨﮓ,ﮔﻠﺪﺷﺖ,نجف آباد,بادرود,خالدآباد,ﻧﻄﻨﺰ">
                    اصفهان</option>
                <option
                    value=",چهارباغ,شهر جدید هشتگرود,کوهسار,گلسار,هشتگرد,طالقان,اشتهارد,آسارا,کرج,کمال شهر,گرمدره,ماهدشت,ﻣﺤﻤﺪﺷﻬﺮ,ﻣﺸﻜﻴﻦ دﺷﺖ,تنکمان,نظرآباد ,فردیس">
                    البرز</option>
                <option
                    value=",ایلام,چوار,ایوان,زرنه,آبدانان,سراب باغ,مورموری,بدره,دره شهر,ﭘﻬﻠﻪ,دهلران,موسیان,میمه,آسمان آباد,توحید,سرابله,لومار,ارکواز,دﻟﮕﺸﺎ,صالح آباد,مهران">
                    ایلام</option>
                <option
                    value=",بوشهر,چغادک,خارک,اهرم,دلوار,انارستان,ﺟﻢ,رﻳﺰ,آب ﭘﺨﺶ,برازجان,ﺗﻨﮓ ارم ,داﻟﻜﻲ,سعدآباد,شبانکاره,ﻛﻠﻤﻪ,وﺣﺪﺗﻴﻪ,خورموج,ﺷﻨﺒﻪ,کاکی,آبدانان,بردخون,بردستان,بندردیلم,امام حسن,بندر دیلم,بندر کنگان,بنک,سیراف,ﻋﺴﻠﻮﻳﻪ,ﻧﺨﻞ ﺗﻘﻲ,بندرریگ,بندر گناوه">
                    بوشهر</option>
                <option
                    value=",اﺳﻼﻣﺸﻬﺮ,چهاردانگه,صالح آباد,گلستان,ﻧﺴﻴﻢ ﺷﻬﺮ,ﭘﺎﻛﺪﺷﺖ,شریف آباد,فرون آباد,پیشوا,بومهن,پردیس,تهران,آبسرد,آﺑﻌﻠﻲ,دماوند,رودهن,گیلان,رباط کریم,نصیرشهر,ﺑﺎﻗﺮﺷﻬﺮ,حسن آباد,کهریزک,فشم,لواسان,اﻧﺪﻳﺸﻪ,باغستان,ﺷﺎﻫﺪﺷﻬﺮ,شهریار,ﺻﺒﺎﺷﻬﺮ,فردوسیه,وﺣﻴﺪﻳﻪ,ارﺟﻤﻨﺪ,فیروزکوه,قدس,صفادشت,ملارد,جوادآباد,ﻗﺮﭼﻚ,وراﻣﻴﻦ,ﺷﻬﺮﺟﺪﻳﺪﭘﺮﻧﺪ,ري,ﺷﻤﺸﻚ">
                    تهران</option>
                <option
                    value=",اردل,بروجن,بلداجی,سفیددشت,فرادنبه,گندمان,نقنه,بن,سامان,سودجان,سورشجان,شهرکرد,طاقانک,فرخ شهر,کیان,نافچ,هفشجان,وردنجان,باباحیدر,پردنجان,جونقان,فارسان,چلگرد,دستنا,شلمزار,گهرو,ناغان,آلونی,لردگان,مال خلیفه,منج,دشتک,سرخون,کاج,گوجان,چلیچه,صمصامی,بازفت">
                    چهارمحال و بختیاری</option>
                <option
                    value=",ارسک,بشرویه,بیرجند,خوسف,محمدشهر,اسدیه,طبس مسینا,قهستان,گزیک,آیسک,سرایان,سه قلعه,سربیشه,مود,اسلامیه,فردوس,اسفدن,آرین شهر,حاجی آباد,خضری دشت بیاض,زهان,ﻗﺎﻳﻦ,نیمبلوک,شوسف,نهبندان,دیهوک,طبس,عشق آباد">
                    خراسان جنوبی</option>
                <option
                    value=",باخرز,بجستان,یونسی,انابد,بردسکن,شهرآباد,شاندیز,طرقبه,تایباد,کاریز,مشهدریزه,فیروزه,همت آباد,احمد آباد صولت,تربت جام,صالح آباد,نصرآباد,نیل شهر,بایک,تربت حیدریه,رباط سنگ,کدکن,جغتای,نقاب,چناران,گلمکان,خلیل آباد,کندر,خواف,سلامی,سنگان,قاسم آباد,نشتیفان,سلطان آباد,ﭼﺎﭘﺸﻠﻮ,درﮔﺰ,لطف آباد,نوخندان,ﺟﻨﮕﻞ,رشتخوار,دولت آباد,داورزن,روداب,سبزوار,ششتمد,سرخس,مزدآوند,سفیدسنگ,فرهادگرد,فریمان,قلندرآباد,باجگیران,قوچان,ریواش,کاشمر,شهرزو,کلات,بیدخت,کاخک,گناباد,رضویه,مشهد,ﻣﺸﻬﺪ ﺛﺎﻣﻦ,ملک آباد,شادمهر,فیض آباد,بار,چنگه,خرو,درود,عشق آباد,قدمگاه,نیشابور">
                    خراسان رضوی</option>
                <option
                    value=",اسفراین,صفی آباد,بجنورد,حصار گرمخوان,راز ,جاجرم,سنخواست,شوقان,شوقان,ﻟﻮﺟﻠﻲ,ﺗﻴﺘﻜﺎﻧﻠﻮ,فاروج,ایور,درق,ﮔﺮﻣﻪ,آﺷﺨﺎﻧﻪ,ﭘﻴﺶ ﻗﻠﻌﻪ,ﻗﺎﺿﻲ">
                    خراسان شمالی</option>
                <option
                    value=",اﻣﻴﺪﻳﻪ,جایزان,ﻗﻠﻌﻪ ﺧﻮاﺟﻪ,اندیمشک,ﺣﺴﻴﻨﻴﻪ,اهواز,ﺣﻤﻴﺪﻳﻪ,ایذه,دهدز,اروندکنار,آبادان,چویبده,باغ ملک,صیدون,ﻗﻠﻌﻪ ﺗﻞ,میداود,شیبان,ملاثانی,وﻳﺲ,بندر امام خمینی,بندر ماهشهر,چمران,آغاجاری,بهبهان,سردشت,خرمشهر,مینوشهر,ﭼﻐﺎﻣﻴﺶ,حمزه,دزآب,دزفول,سالند,صفی آباد,میانرود,بستان,سوسنگرد,رامشیر,مشراگه,رامهرمز,دارﺧﻮﻳﻦ,شادگان,الوان,ﺣﺮ,شاوور,شوش,ﺻﺎﻟﺢ ﻣﺸﻄﺖ,شرافت,ﺷﻮﺷﺘﺮ,گوریه,ﺗﺮﻛﺎﻟﻜﻲ,ﺟﻨﺖ ﻣﻜﺎن,ﺳﻤﺎﻟﻪ,ﺻﺎﻟﺢ ﺷﻬﺮ,ﮔﺘﻮﻧﺪ,ﻻﻟﻲ,مسجد سلیمان,ﻫﻔﺘﮕﻞ,زهره,هندیجان,رﻓﻴﻊ,هویزه">
                    خوزستان</option>
                <option
                    value=",ابهر,ﺳﻠﻄﺎﻧﻴﻪ,ﺻﺎﻳﻴﻦ ﻗﻠﻌﻪ,هیدج,حلب,زرین آباد,زرین رود,سجاس,سهرورد,قیدار,گرماب,خرمدره,ارﻣﻐﺎﻧﺨﺎﻧﻪ,زنجان,آب ﺑﺮ,چورزق,دندی,ماه نشان">
                    زنجان</option>
                <option
                    value=",اﻣﻴﺮﻳﻪ,دامغان,دیباج,ﺳﺮﺧﻪ,سمنان,بسطام,بیارجمند,شاهرود,کلاته خیج,ﻣﺠﻦ,ﻣﻴﺎﻣﻲ,اﻳﻮاﻧﻜﻲ,آرادان,گرمسار,درﺟﺰﻳﻦ,شهمیرزاد,مهدی شهر">
                    سمنان</option>
                <option
                    value=",ایرانشهر,بزمان,بمپور,محمدان,چابهار,نگور,خاش,نوک آباد,گلمورتی,بنجار,زابل,زاهدان,میرجاوه,نصرت آباد,زهک,جالق,سراوان,سیرکان,گشت,محمدی,پیشین,راسک,سرباز,سوران,هیدوچ,زرآباد,کنارک,زاﺑﻠﻲ,اﺳﭙﻜﻪ,ﺑﻨﺖ,فنوج,ﻗﺼﺮﻗﻨﺪ,ﻧﻴﻚ ﺷﻬﺮ,ادﻳﻤﻲ,ﻋﻠﻲ اﻛﺒﺮ,محمد آباد,دوﺳﺖ ﻣﺤﻤﺪ">
                    سیستان و بلوچستان</option>
                <option
                    value=",ارسنجان,استهبان,ایج,روﻧﻴﺰ,اﻗﻠﻴﺪ,حسن آباد,دژکده,سده,ایزدخواست,آباده,ﺑﻬﻤﻦ,سورمق,صغاد,بوانات,ﺣﺴﺎﻣﻲ,کره ای,سعادت شهر,باب انار,جهرم,خاوران,دوزه ,قطب آباد,خرامه,ﺻﻔﺎﺷﻬﺮ,قادرآباد,ﺧﻨﺞ,ﺟﻨﺖ ﺷﻬﺮ,داراب,دوﺑﺮﺟﻲ,فدامی,مصیری,حاجی آباد,دبیران,ﺷﻬﺮﭘﻴﺮ,اردکان,ﺑﻴﻀﺎ,ﻫﻤﺎﺷﻬﺮ,سروستان,کوهنجان,خاله زنیان,داریان,زرقان,شهرصدرا,شیراز,ﻟﭙﻮﻳﻲ,دهرم,فراشبند,ﻧﻮﺟﻴﻦ,زاﻫﺪﺷﻬﺮ,ششده,ﻓﺴﺎ,نوبندگان,فیروزآباد,ﻣﻴﻤﻨﺪ,افزر,امام شهر,قیر,کارزین,مبارک آباددیز,بالاده,ﺧﺸﺖ,ﻗﺎﻳﻤﻴﻪ,کازرون,کنار تخته,نودان,کوار,گراش,اوز,بنارویه,بیرم,جویم,خور,عمادده,ﻻر,ﻟﻄﻴﻔﻲ,اشکنان,اﻫﻞ,علامرودشت,لامرد,رامجرد,سیدان,کامفیروز,مرودشت,ﺧﻮﻣﻪ زار,نورآباد,اﺳﻴﺮ,ﮔﻠﻪ دار,ﻣﻬﺮ,وراوي,آباده طشک,قطرویه,مشکان,ﻧﻲ رﻳﺰ">
                    فارس</option>
                <option
                    value=",الوند,بیدستان,ﺷﺮﻳﻔﻴﻪ ,ﻣﺤﻤﺪﻳﻪ ,آﺑﻴﻚ ,ﺧﺎﻛﻌﻠﻲ,ارداق ,آبگرم,آوج ,بویین زهرا,دانسفهان,سگزآباد,شال,اسفرورین,تاکستان,ﺧﺮﻣﺪﺷﺖ,ضیاءآباد,ﻧﺮﺟﻪ,اﻗﺒﺎﻟﻴﻪ,رازمیان,سیردان,قزوین,ﻛﻮﻫﻴﻦ,محمودآبادنمونه,ﻣﻌﻠﻢ ﻛﻼﻳﻪ">
                    قزوین</option>
                <option value=",ﺟﻌﻔﺮﻳﻪ,دستجرد,سلفچگان,ﻗﻢ,قنوات,ﻛﻬﻚ">قم</option>
                <option
                    value=",آرمرده,ﺑﺎﻧﻪ,ﺑﻮﻳﻴﻦ ﺳﻔﻠﻲ,ﻛﺎﻧﻲ ﺳﻮر,بابارشانی,بیجار,ﻳﺎﺳﻮﻛﻨﺪ,بلبلان آباد,دهگلان,دیوان دره,زرﻳﻨﻪ,سروآباد,ﺳﻘﺰ,ﺻﺎﺣﺐ,سنندج,ﺷﻮﻳﺸﻪ,دزج ,دلبران,سریش آباد,قروه,کامیاران,ﻣﻮﭼﺶ,چناره,کانی دینار,مریوان">
                    کردستان</option>
                <option
                    value=",ارزوﻳﻴﻪ,اﻣﻴﻦ ﺷﻬﺮ,اﻧﺎر,ﺑﺎﻓﺖ,ﺑزنجان,بردسیر,گلزار,ﻻﻟﻪ زار,نگار,براوات,ﺑﻢ,جبالبارز,ﺟﻴﺮﻓﺖ,درب ﺑﻬﺸﺖ,راﺑﺮ,راور ,هجدک,بهرمان,رفسنجان,ﺻﻔﺎﻳﻴﻪ,ﻛﺸﻜﻮﻳﻴﻪ,ﻣﺲ ﺳﺮﭼﺸﻤﻪ,رودبار ,محمدآباد,خانوک,ریحان,زرﻧﺪ,یزدان شهر,پاریز,زیدآباد,سیرجان,ﻧﺠﻒ ﺷﻬﺮ,ﻫﻤﺎ ﺷﻬﺮ,جوزم,خاتون آباد,خورسند,دهج,ﺷﻬﺮﺑﺎﺑﻚ,دوساری,عنبرآباد,مردهک,فاریاب,فهرج,قلعه گنج,اختیارآباد,اندوهجرد,باغین,جوپار,چترود,راﻳﻦ,زنگی آباد,شهداد,کاظم آباد,کرمان,گلباف,ماهان,محی آباد,کهنوج,کوهبنان,ﻛﻴﺎﻧﺸﻬﺮ,منوجان,نودژ,ﻧﺮﻣﺎﺷﻴﺮ,نظام شهر">
                    کرمان</option>
                <option
                    value=",اسلام آباد غرب,ﺣﻤﻴﻞ,باینگان,پاوه,نودشه,نوسود,ازﮔﻠﻪ,تازه آباد,جوانرود,ﻛﺮﻧﺪ,گهوار,رواﻧﺴﺮ,ﺷﺎﻫﻮ,سرپل ذهاب,ﺳﻄﺮ,ﺳﻨﻘﺮ,ﺻﺤﻨﻪ,میان راهان,سومار,ﻗﺼﺮﺷﻴﺮﻳﻦ,رباط,کرمانشاه,کوزران,هلشی,کنگاور,ﺳﺮﻣﺴﺖ,گیلانغرب,بیستون,ﻫﺮﺳﻴﻦ">
                    کرمانشاه</option>
                <option
                    value=",ﺑﺎﺷﺖ,ﻟﻴﻜﻚ,گراب سلفی,مادوان,مارگون,یاسوج,چرام,پاتاوه,چیتاب,سی سخت,دهدشت,دیشموک,سوق,قلعه رییسی,لنده,دوگنبدان">
                    کهگیلویه و بویراحمد</option>
                <option
                    value=",آزادﺷﻬﺮ,ﻧﮕﻴﻦ ﺷﻬﺮ,نوده خاندوز,انبارآلوم,آق ﻗﻼ,بندرگز,نوکنده,بندرترکمن,خان ببین,دلند,رامیان,علی آباد,فاضل آباد,کردکوی,ﻛﻼﻟﻪ,ﮔﺎﻟﻴﻜﺶ ,ﺟﻠﻴﻦ,ﺳﺮﺧﻨﻜﻼﺗﻪ,گرگان,ﺳﻴﻤﻴﻦ ﺷﻬﺮ,ﮔﻤﻴﺶ ﺗﭙﻪ,اﻳﻨﭽﻪ ﺑﺮون,گنبدکاووس,مراوه ,مینودشت ">
                    گلستان</option>
                <option
                    value=",اﻣﻠﺶ,رانکوه,آستارا,لوندویل ,آﺳﺘﺎﻧﻪ اﺷﺮﻓﻴﻪ,ﻛﻴﺎﺷﻬﺮ,بندر انزلی,اﺳﺎﻟﻢ,ﺗﺎﻟﺶ,ﭼﻮﺑﺮ,ﺣﻮﻳﻖ,لیسار,خشکبیجار,خمام,رﺷﺖ,ﺳﻨﮕﺮ,کوچصفهان ,ﻟﺸﺖ ﻧﺸﺎ,لولمان ,پره سر,رضوانشهر,بره سر,ﺗﻮﺗﻜﺎﺑﻦ,جیرنده,رﺳﺘﻢ آباد,رودبار,لوشان,ﻣﻨﺠﻴﻞ,ﭼﺎﺑﻜﺴﺮ,رﺣﻴﻢ آﺑﺎد,رودﺳﺮ,کلاچای,واجرگاه,دیلمان,ﺳﻴﺎﻫﻜﻞ,احمدسرگوراب,ﺷﻔﺖ,ﺻﻮﻣﻌﻪ ﺳﺮا,گراب زرمیخ,ﻣﺮﺟﻘﻞ,ﻓﻮﻣﻦ,ﻣﺎﺳﻮﻟﻪ,رودﺑﻨﻪ,لاهیجان,اطاقور,چاف و چمخاله,شلمان,ﻛﻮﻣﻠﻪ,لنگرود,بازارجمعه ,ماسال">
                    گیلان</option>
                <option
                    value=",ازﻧﺎ,مومن آباد,الیگودرز,شول آباد,اشترینان,بروجرد ,ﭘﻠﺪﺧﺘﺮ,معمولان ,چغلوندی,خرم آباد,زاﻏﻪ,سپیددشت,نور آباد,ﻫﻔﺖ ﭼﺸﻤﻪ,سراب دوره,ویسیان,چالان چولان,دورود,اﻟﺸﺘﺮ,فیروزآباد,ﭼﻘﺎﺑﻞ,درب ﮔﻨﺒﺪ,کونانی,ﻛﻮﻫﺪﺷﺖ,گراب">
                    لرستان</option>
                <option
                    value=",آﻣﻞ,داﺑﻮدﺷﺖ,رﻳﻨﻪ,ﮔﺰﻧﻚ,اﻣﻴﺮﻛﻼ,ﺑﺎﺑﻞ,خوش رودپی,زرﮔﺮﻣﺤﻠﻪ,گتاب,گلوگاه,مرزیکلا,ﺑﺎﺑﻠﺴﺮ,ﺑﻬﻨﻤﻴﺮ,ﻛﻠﻪ ﺑﺴﺖ">
                    مازندران</option>
            </select>
        </div>
        <div class="form-group col-3">
            <label>شهرستان مقصد</label>
            @* <input type="text" asp-for="City" style="display: none;"> *@
            <select asp-for="maghsad" class="form-control" style="width: 100%;"></select>
        </div>
    </div>
    <div class="row">
        <div class=" col-6">
            <label asp-for="tarikh">تاریخ :</label>
            <input asp-for="tarikh" type="datetime-local">
        </div>
        <br>
        <div class=" col-6">
            <label asp-for="NameAirline">ایرلاین :</label>
            <select asp-for="NameAirline" class="form-control" style="width: 100%;" required>
                <option selected>انتخاب</option>
                @foreach (var item in ViewBag.l)
                {
                    <option value="@item.NameCompany">@item.NameCompany</option>
                }
            </select>
        </div>
        <div class="col-6">
            <label asp-for="zarfiat">ظرفیت :</label>
            <input asp-for="zarfiat" type="text">
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Send</button>

</form>




<script>
    function Func1(Shahrestanha) {
        //////ostan
        var vSkill = document.getElementById('ostan');
        var vSkillText = vSkill.options[vSkill.selectedIndex].innerHTML;
        document.getElementById('x').value = vSkillText;
        //////////
        var _Shahrestan = document.getElementById("Mabda");
        _Shahrestan.options.length = 0;
        if (Shahrestanha != "") {
            var arr = Shahrestanha.split(",");
            for (i = 0; i < arr.length; i++) {
                if (arr[i] != "") {
                    _Shahrestan.options[_Shahrestan.options.length] = new Option(arr[i], arr[i]);
                }
            }
        }
    }
    function Funcmaghsad(Shahrestanha) {
        //////ostan
        var vSkill = document.getElementById('ostanmaghsad');
        var vSkillText = vSkill.options[vSkill.selectedIndex].innerHTML;
        document.getElementById('xmaghsad').value = vSkillText;
        //////////
        var _Shahrestan = document.getElementById("maghsad");
        _Shahrestan.options.length = 0;
        if (Shahrestanha != "") {
            var arr = Shahrestanha.split(",");
            for (i = 0; i < arr.length; i++) {
                if (arr[i] != "") {
                    _Shahrestan.options[_Shahrestan.options.length] = new Option(arr[i], arr[i]);
                }
            }
        }
    }
</script>